body {
    background-color: antiquewhite;
}

.head , .hihi{
    color: blue ;
    border: solid 5px rgb(255, 0, 0);
    width: 215px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;

}

.kn {
    color: rgb(202, 2, 186);
    border-bottom : solid 5px rgb(141, 43, 240);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#html , .c {
    color: rgb(5, 239, 239);
}
.css , #java , #python{
    color: red;
}
.cpp{
    color: rgb(222, 174, 2);
}

.para {
    background-color: rgb(0, 170, 255);
    max-width: 1000px;
    border-radius: 50px 10px;
    padding: 15px;
    box-shadow: -5px -5px 4px rgb(248, 17, 17) , 8px -5px 4px rgb(248, 17, 17) ;
}
.para2 {
    background-color: rgb(254, 15, 15);
    min-width: 500px;
    max-width: 1000px;
    border-radius: 10px 50px;
    padding: 15px;
    box-shadow: -5px 5px 4px rgb(21, 21, 250) , 8px 5px 4px rgb(21, 21, 250) ;
}

.hate {
    color: rgb(255, 0, 0);
    text-align: center;
}
.love{
    color: rgb(36, 204, 45);
    margin: 10px 1px 1px 1px;
    text-align: center;
}

.ul {
    background-color: rgb(214, 232, 246);
    padding: 10px ;
    padding-left: 30px;
    width: 120px;
    border-radius: 40px 10px ;

}
.hope {
    direction: rtl;
    background-color: rgb(0, 248, 248);
    padding: 10px;
    width: 230px;
    text-align: right;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: -5px 5px 4px rgb(136, 255, 0) , 5px 5px 4px  rgb(136, 255, 0)  ;
}
.decor {
    color: rgb(145, 203, 253);
    border: solid 5px rgb(91, 175, 248);
    width: 160px;
    padding: 3px ;
    margin-left: auto;
    margin-right: auto;
}
.allpar{
    background-color: rgb(200, 229, 255);
    margin-left: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px ;
    width: 450px;
    margin-bottom: 10% ;
}
.par1{
    text-decoration-line:line-through overline underline ;
    text-decoration-color: rgb(255, 0, 0);
}

/*
    text-shadow: H-shadow V-shadow blur color ;
    text-box: H-shadow V-shadow blur sprade color inset ;
*/
.par2{
    text-shadow: -2px 2px 3px rgb(255, 0, 0) 
    , 2px -2px 3px rgb(0, 17, 255) ;
}
.allpar{
    box-shadow: 10px 10px 2px black ;
}
.par3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.par4{
    font-family: fantasy ;
}
.par5{
    font-family:   'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.par6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.par7{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}